<div style="height: 9%; padding: 20px 40px 0px 40px; color: darkgray; font-size: 15px;">
    <div class="col-md-3" style="text-align: left;">
            <img style="height: 20px; width: 20px" src="<%=flag%>">
            <span style="margin: 0px 10px">|</span>
        <span style="position: relative;"><%=country%></span>
    </div>
    <div class="col-md-6" style="text-align: center; position: relative; font-size: 13px;">
        <span>Source: <a href="https://tradingeconomics.com">https://tradingeconomics.com</a></span>
    </div>
    <div class="col-md-3" style="text-align: right;">
        <span><%=pageNumber%></span>
    </div>
</div>